.images-container {
  display: flex;
  flex-direction: row;
}

.btn {
  height: 3rem;
  margin-top: 24rem;
}

.image-wrapper {
  height: 50rem;
  width: 41rem;
  margin-top: 3rem;
  transition: 3s ease-in;
}
.image-wrapper__img {
  width: 85%;
  height: 100%;
}
