.images-container {
  /* display: flex;
  flex-direction: row; */
}

.btn {
  height: 3rem;
  margin-top: 24rem;
}

.image-wrapper {
  height: 50rem;
  width: 41rem;
  transition: display 0.3s ease-in;
}
.image-wrapper__img {
  object-fit: contain;
  width: 85%;
  height: 100%;
}

.images-wrapper{
  display: flex;
}
